.main-footer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
}

.main-footer__copyright {
  margin: 0 0 0 auto;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      opacity: .5;
    }
  }
}

.main-footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.main-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid $gray;
  font-size: 0;
  &:hover {
    opacity: .5;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  svg {
    fill: $gray;
  }
}
