.main-header {
  width: 100%;
  height: 100vh;
  background: fixed url(../img/header-bg.jpg) center no-repeat #fff;
  background-size: cover;
}

.main-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @include container;
}

.main-header__promo {
  position: absolute;
  right: 0;
  top: 25vh;
  width: 550px;
  text-align: center;
}
