.main-nav {
  margin-top: 20px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-nav__item {
  display: inline-block;
  font: 300 18px/35px "Merriweather", "Tahoma", sans-serif;
  vertical-align: top;
}

.main-nav__link {
  display: block;
  margin: 0 10px;
  padding: 10px 10px;
  color: $gray;
  text-decoration: none;
  &--active {
    color: $gray;
    border: 1px solid $gray;
  }
  &:hover {
    opacity: 0.5;
  }
}
